<%- include('../partials/header', { loggedIn }); %>

<h1 class="display-5 mb-2 text-center">Signup</h1>

<div class="container d-flex align-items-center justify-content-center">
  <form action="/auth/signup" method="POST">

    <div class="row mb-3">
      <div class="col-6">
        <label for="firstname">First Name</label>
        <input
          type="text"
          name="firstname"
          class="form-control me-3"
          placeholder="First Name *"
          required
          autocapitalize="words"
          pattern="\w+"
          autofocus
        />
      </div>

      <div class="col-6">
        <label for="lastname">Last Name</label>
        <input
          type="text"
          name="lastname"
          class="form-control"
          placeholder="Last Name *"
          required
          autocapitalize="words"
          pattern="\w+"
        />
      </div>
    </div>

    <% if(error.name) { %>
    <div class="bg-warning p-2 my-2 rounded"><%= error.name %></div>
    <% } %>

    <label for="email" class="form-label text-muted">Email</label>

    <input
      type="email"
      name="email"
      class="form-control mb-3"
      placeholder="Email *"
      required
    />

    <% if(error.email) { %>
    <div class="bg-warning p-2 my-2 rounded"><%= error.email %></div>
    <% } %>

    <label for="password" class="form-label text-muted">Password</label>

    <input
      type="password"
      class="form-control mb-3"
      id="password"
      name="password"
      placeholder="Password *"
      minlength="6"
      required
    />

    <% if(error.password) { %>
    <div class="bg-warning p-2 my-2 rounded"><%= error.password %></div>
    <% } %>

    <input type="submit" class="form-control btn btn-primary py-2 mb-2" />

    <% if(error.other) { %>
    <div class="bg-warning p-2 my-2 rounded">[ERROR] <%= error.other %></div>
    <% } %>

  </form>
</div>

<%- include('../partials/footer'); %>
