<%- include('../partials/header', { loggedIn }) %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.28.0/js/canvas-to-blob.js"
  integrity="sha512-QinObFNs7mVBtipyw8BEERLHKQ1P2n5Wbxd8Kt+G9ST/lp99qZKlJUUsNSZYSPf/yGL7eNN0UCcDaMiZjXMtGg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<div class="container">
  <div class="display-4">NEST Report</div>

  <p class="lead">
    Thank you for taking Aspire’s National Employability Skills Test (NEST™).
    Please review each score for detailed insight with respect to specific areas
    of strength and development for enhancing your employability and a better
    potential job fit
  </p>

  <div class="row justify-content-center">
    <div class="col-6">
      <canvas id="<%= userScore._id %>"></canvas>
      <%- include('../profile/scripts/createScoreChart.ejs', { userScore,
      getChartData, scoreIndex: 0 }) %>
    </div>
  </div>
  <button class="btn btn-primary" id="save_0">Save as Image</button>
  <hr />

  <table class="table table-hover">
    <tr>
      <th>Module</th>
      <th>Score</th>
      <th>Description</th>
      <th>Feedback</th>
    </tr>

    <% user_feedbacks.map(row => { %>

    <tr>
      <td><%= row.module_name %></td>
      <td><%= row.module_score %></td>
      <td><%= row.module_feedback.description %></td>
      <td><%= row.module_feedback.feedback %></td>
    </tr>

    <% }) %>
  </table>
</div>

<%- include('../partials/footer', { loggedIn }) %>
