<%- include('../partials/header.ejs', { loggedIn }) %>

<div class="container-fluid">
  <table class="table table-hover">
    <tr>
      <th>_id</th>
      <th>key</th>
      <th>category</th>
      <th>name</th>
      <th>plot</th>
      <th>price</th>
      <th>description</th>
      <th>short para</th>
      <th>action</th>
    </tr>

    <% for(const assessment of assessments) { %>
    <tr>
      <td><%= assessment._id %></td>
      <td><%= assessment.key %></td>
      <td><%= assessment.category_name %></td>
      <td><%= assessment.name %></td>
      <td><%= assessment.plot_type %></td>
      <td>$<%= assessment.price %></td>
      <td>
        <%= assessment.description.substring(0,50) %><%=
        assessment.description.length > 50 ? '...' : '' %>
      </td>
      <td>
        <%= assessment.shortPara.substring(0,50) %><%=
        assessment.shortPara.length > 50 ? '...' : '' %>
      </td>
      <!-- <td><%= assessment.enrollURL %></td>
      <td><%= assessment.redirectURL %></td> -->
      <td>
        <button
          class="btn btn-primary"
          onclick="editModal('<%= assessment._id %>')"
          disabled
        >
          Edit
        </button>
        <a href="/delete/<%= assessment._id %>" class="btn btn-danger disabled"
          >Delete</a
        >
      </td>
    </tr>
    <% } %>
  </table>
</div>

<%- include('../partials/footer.ejs', { loggedIn }) %>
