<div class="container">
  <%- include('./thumbnail', { img_url: user.img_url }) %>

  <h4 class="my-4"><%= user.name %></h4>
  <p><strong>Email: </strong><%= user.email %></p>
  <p><strong>Mobile: </strong><%= user.mobile %></p>
  <p>
    <strong>Location: </strong><%= user.address.city %>, <%= user.address.state
    %>
  </p>
  <p><strong>Bio: </strong><%= user.bio %></p>
  <p><strong>Privacy status: </strong><%= user.status %></p>
  <p>
    <strong>Date of Birth: </strong><%= user.dob.day %>-<%= user.dob.month
    %>-<%= user.dob.year %>
  </p>

  <!-- qualifications -->
  <table class="table table-hover">
    <tr>
      <th>Qualification</th>
      <th>Institution</th>
      <th>Subject</th>
    </tr>
    <tr>
      <td>Grade 10</td>
      <td><%= user.qualifications.grade10.institution %></td>
      <td><%= user.qualifications.grade10.subject %></td>
    </tr>
    <tr>
      <td>Grade 12</td>
      <td><%= user.qualifications.grade12.institution %></td>
      <td><%= user.qualifications.grade12.subject %></td>
    </tr>
    <tr>
      <td>Bachelors</td>
      <td><%= user.qualifications.bachelors.institution %></td>
      <td><%= user.qualifications.bachelors.subject %></td>
    </tr>
    <tr>
      <td>Masters</td>
      <td><%= user.qualifications.masters.institution %></td>
      <td><%= user.qualifications.masters.subject %></td>
    </tr>
    <tr>
      <td>Other</td>
      <td><%= user.qualifications.other.institution %></td>
      <td><%= user.qualifications.other.subject %></td>
    </tr>
  </table>
</div>
