<div class="container text-center">
  <%- include('./thumbnail', { img_url: user.img_url }) %>
  <h5 class="mt-2"><%= user.name %></h5>
  <p class=""><%= user.email %></p>
  <!-- Bio -->
  <% if(user.bio) { %>
  <p><%= user.bio %></p>
  <% } %>

  <!-- Address -->
  <% if(user.address.city) { %>
  <p class="fw-bold">
    <%= user.address.city %> <% } %> <% if(user.address.state) { %> , <%=
    user.address.state %> <% } %>
  </p>
</div>
