<div class="container text-center">
  <!-- Profile picture -->
  <%- include('./thumbnail.ejs', { img_url: user.img_url, name: user.name }) %>

  <!-- Name -->
  <h1 class="display-4"><%= user.name %></h1>

  <!-- Email -->
  <p><%= user.email %></p>

  <!-- Bio -->
  <% if(user.bio) { %>
  <p><%= user.bio %></p>
  <% } %>

  <!-- Address -->
  <% if(user.address.city) { %>
  <p class="fw-bold">
    <%= user.address.city %> <% } %> <% if(user.address.state) { %> , <%=
    user.address.state %> <% } %>
  </p>
</div>
