<div class="container">
  <%- include('./thumbnail', { img_url: user.img_url }) %>

  <table class="table">
    <tr>
      <td>
        <strong>Name</strong>
      </td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td>
        <strong>Email</strong>
      </td>
      <td><%= user.email %></td>
    </tr>
    <tr>
      <td>
        <strong>Mobile</strong>
      </td>
      <td><%= user.mobile %></td>
    </tr>
    <tr>
      <td>
        <strong>Country</strong>
      </td>
      <td><%= user.address.country %></td>
    </tr>
    <tr>
      <td>
        <strong>City</strong>
      </td>
      <td><%= user.address.city %></td>
    </tr>
    <tr>
      <td>
        <strong>State</strong>
      </td>
      <td><%= user.address.state %></td>
    </tr>
    <tr>
      <td>
        <strong>Zip</strong>
      </td>
      <td><%= user.address.zip %></td>
    </tr>
    <tr>
      <td>
        <strong>Bio</strong>
      </td>
      <td><%= user.bio %></td>
    </tr>
    <tr>
      <td>
        <strong>Privacy</strong>
      </td>
      <td><%= user.status %></td>
    </tr>
    <tr>
      <td>
        <strong>Date of Birth</strong>
      </td>
      <td>
        <% if(user.dob.day && user.dob.month && user.dob.year) { %> <%=
        user.dob.day %>/<%= user.dob.month %>/<%= user.dob.year %> <% } else {
        %> NA <% } %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Background</strong>
      </td>
      <td><%= user.user_type %></td>
    </tr>
    <% if(user.user_type === 'professional') { %>
    <tr>
      <td>
        <strong>Organization</strong>
      </td>
      <td><%= user.organization %></td>
    </tr>

    <tr>
      <td>
        <strong>Profession</strong>
      </td>
      <td><%= user.profession %></td>
    </tr>

    <tr>
      <td>
        <strong>Highest Qualification</strong>
      </td>
      <td><%= user.highest_qualification %></td>
    </tr>

    <tr>
      <td>
        <strong>Qualification Details</strong>
      </td>
      <td><%= user.qualification_details %></td>
    </tr>

    <% } %>
  </table>

  <% if(user.user_type === 'student') { %>
  <table class="table table-hover">
    <tr>
      <th>Qualification</th>
      <th>Institution</th>
      <th>Subject</th>
    </tr>
    <tr>
      <td>Grade 10</td>
      <td><%= user.qualifications.grade10.institution %></td>
      <td><%= user.qualifications.grade10.subject %></td>
    </tr>
    <tr>
      <td>Grade 12</td>
      <td><%= user.qualifications.grade12.institution %></td>
      <td><%= user.qualifications.grade12.subject %></td>
    </tr>
    <tr>
      <td>Bachelors</td>
      <td><%= user.qualifications.bachelors.institution %></td>
      <td><%= user.qualifications.bachelors.subject %></td>
    </tr>
    <tr>
      <td>Masters</td>
      <td><%= user.qualifications.masters.institution %></td>
      <td><%= user.qualifications.masters.subject %></td>
    </tr>
    <tr>
      <td>Other</td>
      <td><%= user.qualifications.other.institution %></td>
      <td><%= user.qualifications.other.subject %></td>
    </tr>
  </table>
  <% } %>
</div>
