<div class="container text-center">
  <!-- Start -->

  <!-- Profile picture -->
  <div class="my-2 mx-auto">
    <%- include('./thumbnail.ejs', { img_url: user.img_url }) %>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <!-- Name -->
      <h1 class="display-4"><%= user.name %></h1>
      <!-- Email -->
      <p><%= user.email %></p>
    </div>
  </div>

  <!-- Bio -->
  <% if(user.bio) { %>
  <p><%= user.bio %></p>
  <% } %>

  <!-- Address -->
  <% if(user.address.city) { %>
  <p class="fw-bold">
    <%= user.address.city %> <% } %> <% if(user.address.state) { %> , <%=
    user.address.state %> <% } %>
  </p>

  <!-- End -->
</div>
