<!--
    Locals: {
        user,
        loggedIn,
        userScores 
    }
-->

<!-- See Profile of another user -->

<%- include('./profileHeader.ejs', { loggedIn }) %>
<%- include('./basicProfile', { user }) %> 

<!-- SCORES -->
<div class="container mt-2">
  <% userScores.map((userScore, scoreIndex)=> { %> 
  <%- include('./userScoreHeader.ejs', { userScore, formatDateString, formatTime }) %>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <%- include('./moduleScoreTable.ejs', { userScore }) %> 
    </div>
    <div class="col-lg-6 mb-3">
      <canvas id="<%= userScore._id %>"></canvas>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" id="save_<%= scoreIndex %>">Save as image</button>
        <a href="/users/reports/<%= userScore._id %>" class="btn btn-dark ms-1">View Report</a>
      </div>
    </div>
    
    <% if(userScore.plot_type == 'hbar') { %>
    <%- include('./scripts/createBarChart.ejs', { userScore, scoreIndex, getChartData }) %>
    <% } else { %> 
    <%- include('./scripts/createScoreChart.ejs', { userScore, scoreIndex, getChartData }) %>
    <% } %>

  </div>
  <% }) %>
</div>

<%- include('../partials/footer.ejs') %>