<!--
    Locals: {
        user,
        loggedIn,
        userScores 
    }
-->

<!-- See Profile of another user -->

<%- include('./profileHeader.ejs', { loggedIn }) %> <% if(user.status !=
'public') { %>
<div class="container">
  <div class="alert alert-danger">Cannot view profile as it is private.</div>
</div>
<% } else { %> <%- include('./basicProfile', { user }) %>
<!-- SCORES -->
<div class="container mt-2">
  <% userScores.map((userScore, scoreIndex)=> { %> <%-
  include('./userScoreHeader.ejs', { userScore, formatDateString, formatTime })
  %>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <%- include('./moduleScoreTable.ejs', { userScore }) %>
    </div>
    <div class="col-lg-6 mb-3">
      <canvas id="<%= userScore._id %>"></canvas>
    </div>

    <% if(userScore.plot_type == 'hbar') { %> <%-
    include('./scripts/createBarChart.ejs', { userScore, scoreIndex,
    getChartData }) %> <% } else { %> <%-
    include('./scripts/createScoreChart.ejs', { userScore, scoreIndex,
    getChartData }) %> <% } %>
  </div>
  <% }) %>
</div>
<% } %> <%- include('../partials/footer.ejs') %>
