<!--
locals: {
  user,
  loggedIn,
  userScores,
  assessments
}
-->

<%- include('./profileHeader.ejs', { loggedIn }) %> <%-
include('./basicProfile', { user }) %>

<div class="container">
  <a href="/users/profile/update" class="btn btn-outline-primary"
    >Update Profile</a
  >
  <% if(user.role == 'admin') { %>
  <a href="/users/" class="btn btn-outline-dark">View All Users</a>
  <% } %>
</div>

<%- include('./assessmentList', { assessments }) %>

<!-- SCORES -->
<!-- left col of row has table, and right has the chart -->
<div class="container mt-2">
  <% userScores.map((userScore, scoreIndex)=> { %> <%-
  include('./userScoreHeader.ejs', { userScore, formatDateString, formatTime })
  %>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <%- include('./moduleScoreTable.ejs', { userScore }) %> <%-
      include('./userScoreActions.ejs', { userScore }) %>
    </div>
    <div class="col-lg-6 mb-3">
      <canvas id="<%= userScore._id %>"></canvas>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" id="save_<%= scoreIndex %>">
          Save as image
        </button>
      </div>
    </div>

    <% if(userScore.plot_type == 'hbar') { %> <%-
    include('./scripts/createBarChart.ejs', { userScore, scoreIndex,
    getChartData }) %> <% } else if(userScore.plot_type == 'vbar') { %> <%-
    include('./scripts/createVerticalBarChart.ejs', { userScore, scoreIndex,
    getChartData }) %> <% }else { %> <%-
    include('./scripts/createScoreChart.ejs', { userScore, scoreIndex,
    getChartData }) %> <% } %>

    <script>
      console.log("<%= userScore.plot_type %>");
    </script>
  </div>
  <% }) %>
</div>

<%- include('../partials/footer.ejs') %>
