<%- include('../partials/header.ejs', { loggedIn }) %>

<script>
  let ctx = null,
    config = null;
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.28.0/js/canvas-to-blob.js"
  integrity="sha512-QinObFNs7mVBtipyw8BEERLHKQ1P2n5Wbxd8Kt+G9ST/lp99qZKlJUUsNSZYSPf/yGL7eNN0UCcDaMiZjXMtGg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<!-- SCORES -->
<!-- left col of row has table, and right has the chart -->
<div class="container mt-2">
  <% userScores.map((userScore, scoreIndex)=> { %>

  <div class="display-6"><%= userScore.assessment_name %></div>
  <div class="lead">
    <span><%= formatDateString(userScore.date) %>, </span>
    <span><%= formatTime(userScore.date) %> </span>
  </div>

  <% if(userScore.description) { %>
  <p><%= userScore.description %></p>
  <% } %>

  <div class="row">
    <div class="col-lg-6 mb-3">
      <table class="table table-hover">
        <tr>
          <th>Category</th>
          <th>Score</th>
        </tr>
        <% userScore.module_scores.map(moduleScore => { %>
        <tr>
          <td><%= moduleScore.name %></td>
          <td><%= moduleScore.score %></td>
        </tr>
        <% }) %>
      </table>
      <a
        href="/users/retake/<%= userScore.assessment_key %>"
        class="btn btn-outline-primary my-2"
        >Take Again</a
      >

      <a
        href="/users/scores/delete/<%= userScore._id %>"
        class="btn btn-outline-danger my-2"
        >Delete Score</a
      >

      <a
        href="/users/reports/<%= userScore._id %>"
        class="btn btn-outline-success"
      >
        View Report</a
      >
    </div>
    <div class="col-lg-6 mb-3">
      <canvas id="<%= userScore._id %>"></canvas>
      <% if(userScore.plot_type != 'none') { %>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" id="save_<%= scoreIndex %>">
          Save as image
        </button>
      </div>
      <% } %>
    </div>

    <% if(userScore.plot_type == 'none') { %> No Plots Available <% } else
    if(userScore.plot_type == 'hbar') { %> <%-
    include('./scripts/createBarChart.ejs', { userScore, scoreIndex,
    getChartData }) %> <% } else if(userScore.plot_type == 'vbar') { %> <%-
    include('./scripts/createVerticalBarChart.ejs', { userScore, scoreIndex,
    getChartData }) %> <% }else { %> <%-
    include('./scripts/createScoreChart.ejs', { userScore, scoreIndex,
    getChartData }) %> <% } %>

    <script>
      console.log("<%= userScore.plot_type %> chart created");
    </script>
  </div>
  <% }) %>

  <!-- Divergent thinking scores -->

  <% for(const divScore of divergentScores) { %>
  <div class="display-6">Divergent Thinking</div>
  <div class="lead">
    <span><%= formatDateString(divScore.createdAt) %>, </span>
    <span><%= formatTime(divScore.createdAt) %> </span>
  </div>
  <table class="table table-hover">
    <tr>
      <th>Question</th>
      <th>Approved words</th>
      <th>Reject words</th>
      <th>Score</th>
    </tr>
    <% for(const score of divScore.scores) { %>
    <tr>
      <td><%= score._id %></td>
      <td><%= score.approved %></td>
      <td><%= score.rejected %></td>
      <td><%= score.score %></td>
    </tr>
    <% } %>
  </table>
  <a
    href="/divergent/retake/<%= user._id %>"
    class="btn btn-outline-primary my-2"
    >Take Again</a
  >

  <a
    href="/divergent/deleteScore/<%= divScore._id %>"
    class="btn btn-outline-danger my-2"
    >Delete Score</a
  >

  <a
    href="/divergent/viewReport/<%= divScore._id %>"
    class="btn btn-outline-success"
  >
    View Report</a
  >
  <% } %>
</div>
<%- include('../partials/footer.ejs') %>
