<%- include('../partials/header.ejs', { loggedIn }) %>

<div class="container">
  <div class="display-4">Creativity Personality Assessment</div>
  <div class="lead">
    Given below are a number of scales. For each scale, there are 6 points. You
    have to select only one number in each scale. If you agree very strongly
    with the statement to the left of the scale, select 1; if you agree with it
    strongly, select 2; if you agree moderately, select 3; if you agree very
    strongly with the statement to the right of the scale, select 6; if you
    agree with it strongly, select 5; if you agree moderately, select 5.
    Remember only one number is to be selected in each scale.
  </div>

  <form action="/assessments/CP/submit" method="POST" name="myForm">
    <% questions.map((question, num) => { %>

    <div class="row shadow-sm rounded p-2 my-4 bg-light">
      <p><%= num+1 %>.</p>
      <p><strong>Left: </strong><%= question.left_statement %></p>
      <p><strong>Right: </strong><%= question.right_statement %></p>

      <div class="container d-flex justify-space-between">
        <% [1,2,3,4,5,6].map(choice => { %>
        <div class="form-check me-2">
          <input
            type="radio"
            class="form-check-input"
            id="<%= question._id + '_' + choice %>"
            name="<%= question._id %>"
            value="<%= choice %>"
          />
          <label for="<%= question._id + '_' + choice %>"><%= choice %></label>
        </div>
        <% }) %>
      </div>
    </div>

    <% }) %>

    <!-- Time spent since page load -->
    <input
      type="submit"
      class="btn btn-outline-primary"
      value="Submit"
      onclick="handleSubmit(); "
    />
    <button
      type="button"
      class="btn btn-outline-success"
      onclick="handleSave();"
    >
      Save
    </button>
  </form>
</div>

<% for(const answer of user_answers){ %>
<script>
  document.getElementById(
    "<%= answer.question_id %>_<%= answer.value %>"
  ).checked = true;
</script>
<% } %>

<script>
  function handleSubmit() {
    if (confirm("Are you sure you want to submit the assessment?")) {
      document.myForm.submit();
    }
  }

  document.myForm.addEventListener("submit", function (event) {
    event.preventDefault();
  });
  const questions = <%-JSON.stringify(questions)%>;
  let saving = false;

  async function handleSave() {
    if(saving) {
      return;
    }

    const inputs = document.querySelectorAll(`input[type='radio']:checked`);
    const data = [];
    for(const input of inputs) {
      data.push({
        question_id: input.name,
        value: input.value
      })
    }

    saving = true;

    fetch('/assessments/CP/save', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(data),
    }).then(() => {
      alert('Save successful')
      saving = false;
    })
  }
</script>

<%- include('../partials/footer.ejs') %>
