<%- include('partials/header', { title: 'Login' }); %>
  <!-- Module -->
  <div class="container">
    <h3>Module: <%= moduleName %></h3>
    <!-- Instructions -->
    <div class="text-grey"><%= instructions %></div>
    <hr />

    <!-- Sections -->
    <% sections.map(section => { %>

    <!-- Section -->
    <div>
      <h5 class="text-grey">
        Section: <%= section.sectionName %>
      </h5>

      <!-- Questions -->
      <% section.questions.map(question => { %>

      <!-- Question -->
      <div>
        <!-- content -->
        <div><%= question.content %></div>
        <!-- options -->

        <% [0,1,2,3,4,5].map(option => { %>

        <!-- Option -->
        <p>
          <label>
            <input name="<%= question.id %>" type="radio" />
            <span><%= option %></span>
          </label>
        </p>

        <% }) %>
      </div>

      <% }) %>
    </div>
    <% }) %>

    <!-- Module ends here -->
  </div>
<%- include('partials/footer'); %>
