<%- include("partials/header.ejs", { loggedIn }); %>

<div class="container p-2">
  <% data.forEach(item => { %>

  <div class="h2"><%= item.category_name %></div>
  <p><%= item.category_description %></p>

  <div class="mb-3 row align-items-stretch flex-wrap">
    <% item.assessments.forEach(assessment => { %>

    <div class="card col-md-4 col-lg-3 p-2 m-2 rounded">
      <div class="card-body">
        <div class="card-title">
          <span class="h5"> <%= assessment.name %> </span>
        </div>

        <div class="card-text">
          <div
            class="text-muted mb-3"
            style="position: absolute; top: 5px; right: 15px"
          >
            $<%= assessment.price %>
          </div>

          <% if(assessment.short_para) { %>
          <p><%= assessment.short_para %></p>
          <% } else if(assessment.description) { %>
          <p><%= assessment.description %></p>
          <% } %>

          <a
            href="/details/<%= assessment.key %>"
            class="btn btn-outline-primary"
            >Open</a
          >
        </div>
      </div>
    </div>

    <% }) %>
  </div>

  <% }) %>
</div>
<%- include("partials/footer.ejs"); %>
