<%- include('partials/header.ejs') %>
<div class="container text-center">
  <div class="my-2 mx-auto">
    <img
      src="<%= user.img_url %>"
      alt="profile image"
      class="img-fluid img-thumbnail"
      width="128"
    />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1 class="display-4"><%= user.name %></h1>
      <p><%= user.email %></p>
    </div>
  </div>
</div>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a href="/users/profile/update" class="nav-link">Update Profile</a>
  </li>
</ul>

<script>
  console.log("Signed in with: <%= user.provider.name %>");
</script>
<%- include('partials/footer.ejs') %>
