<!--
    Locals: {
        user,
        title,
        description,
        assessment_id,
        user_modules
    }
-->

<%- include('../partials/header.ejs', { loggedIn }) %>

<div class="container">
  <div class="display-5 text-center my-2"><%= title %></div>

  <div class="lead"><%= description %></div>

  <br />

  <script>
    let index, module_id, value;
    let formatTimeSpent = <%- formatTimeSpent %>;
  </script>

  <% user_modules.map((module, index)=> { %>

  <div class="card shadow-sm p-2 mb-4 bg-body rounded">
    <div class="card-body">
      <div class="card-text">
        <div class="row g-2 align-items-stretch justify-content-between align-content-around">
          <!-- Title -->
          <div class="col-md-4">
            <div class="fw-bold"><%= module.module_name %></div>
          </div>

          <!-- Total Questions -->
          <div class="col-xs-6 col-sm-4 col-md-2">
            <div class="small text-muted">Questions</div>
            <div><%= module.no_questions %></div>
          </div>

          <!-- Questions Attempted -->
          <div class="col-xs-6 col-sm-4 col-md-2">
            <div class="small text-muted">Attempted</div>
            <div><%= module.no_attempted %></div>
          </div>

          <!-- Time Spent -->
          <div class="col-xs-6 col-sm-4 col-md-2">
            <div class="small text-muted">Time Spent</div>
            <div class="small" id="moduleTimerDisplay_<%= index %>">
              <%= formatTimeSpent(module.time_spent || 0) %>
            </div>
          </div>

          <!-- Status -->
          <div class="col-xs-6 col-sm-4 col-md-2">
            <% if(module.status === 'Pending') { %>
            <div class="badge rounded-pill bg-light text-dark p-2">
              <%= module.status %>
            </div>
            <% } else { %>
            <div class="badge rounded-pill bg-dark text-light p-2">
              <%= module.status %>
            </div>
            <% } %>
          </div>

          <!-- Action -->
          <div class="col-xs-6 col-sm-4 col-md-2">
            <a
              href="/forms/<%= assessment_id %>/questions/<%= module._id %>"
              class="btn btn-sm btn-outline-dark"
              >Open</a
            >
          </div>

          <!-- End Row -->
        </div>

        <!-- End card-text -->
      </div>

      <!-- End card-body -->
    </div>

    <script>
      module_id = "<%= module._id %>";
      index = "<%= index %>";
      if (localStorage.getItem(module_id)) {
        value = Number(localStorage.getItem(module_id));
        document.getElementById("moduleTimerDisplay_" + index).innerText =
          formatTimeSpent(value);
      }
    </script>

    <!-- End card -->
  </div>
  <% }) %>

  <!-- submit assessment -->
  <form name="myForm" action="/forms/<%= assessment_id %>/score" method="POST">
    <!-- assessment id field -->
    <input
      type="text"
      name="assessment_id"
      value="<%= assessment_id %>"
      hidden
    />

    <p class="form-text-muted">
      Please attempt all modules in this assessment before you submit.
    </p>

    <button class="btn btn-outline-primary" onclick="handleSubmit()">Submit All</button>
  </form>

  <!-- container end -->
</div>

<script>
  const user_module_ids = <%- JSON.stringify(user_modules.map(user_module => user_module._id)) %>;
  // console.log(user_module_ids);

  function handleSubmit() {
    if (confirm("Are you sure you wish to submit the test? Make sure you have completed all the modules.")) {

      // clear local timers
      for (const key of user_module_ids) {
        if (localStorage.getItem(key)) {
          localStorage.removeItem(key);
        }
      }

      document.myForm.submit();
    }
    else {
      console.log("Not submitting form.");
    }
  }

  window.onload = () => {
    document.myForm.addEventListener('submit', (e) => {
      e.preventDefault();
    })
  }
</script>

<%- include('../partials/footer.ejs') %>
