<%- include('../partials/header.ejs', { loggedIn }) %>

<div class="container">
  <div class="display-5 text-center my-2">
    <%= user_assessment.assessment_name %>
  </div>
  <div class="lead"><%= description %></div>
  <br />

  <script>
    let umid;
    let formatTimeSpent = <%- formatTimeSpent %>;
  </script>

  <% user_modules.map(module => { %>

  <div class="card shadow-sm p-2 mb-4 bg-body rounded">
    <div class="card-body">
      <div class="card-text">
        <div
          class="
            row
            g-2
            align-items-stretch
            justify-content-between
            align-content-around
          "
        >
          <!-- Title -->
          <div class="col-md-4">
            <div class="fw-bold"><%= module.module_name %></div>
          </div>

          <!-- Total Questions -->
          <div class="col-xs-6 col-sm-4 col-md-2">
            <div class="small text-muted">Questions</div>
            <div><%= module.no_questions %></div>
          </div>

          <!-- Questions Attempted -->
          <div class="col-xs-6 col-sm-4 col-md-2">
            <div class="small text-muted">Attempted</div>
            <div><%= module.no_attempted %></div>
          </div>

          <!-- Time Spent -->
          <div class="col-xs-6 col-sm-4 col-md-2">
            <div class="small text-muted">Time Spent</div>
            <div class="small" id="time_spent_<%= module._id %>">
              <%= formatTimeSpent(module.time_spent || 0) %>
            </div>
          </div>

          <!-- Status -->
          <div class="col-xs-6 col-sm-4 col-md-2">
            <% if(module.status === 'Pending') { %>
            <div class="badge rounded-pill bg-light text-dark p-2">
              <%= module.status %>
            </div>
            <% } else { %>
            <div class="badge rounded-pill bg-dark text-light p-2">
              <%= module.status %>
            </div>
            <% } %>
          </div>

          <!-- Action -->
          <div class="col-xs-6 col-sm-4 col-md-2">
            <form action="<%= user_assessment.redirectURL %>/questions/">
              <input
                type="hidden"
                name="umid"
                id="umid"
                value="<%= module._id %>"
              />
              <button type="submit" class="btn btn-sm btn-outline-dark">
                Open
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      umid = "<%= module._id %>";
      if (localStorage.getItem(umid)) {
        const value = localStorage.getItem(umid);
        const elementId = "time_spent_" + umid;
        const timeSpent = document.getElementById(elementId);
        timeSpent.innerText = formatTimeSpent(value);
      }
    </script>
  </div>
  <% }) %>

  <p class="form-text-muted">
    Please attempt all modules in this assessment before you submit.
  </p>

  <!-- submit assessment -->
  <form
    name="myForm"
    action="<%= user_assessment.redirectURL %>/score/"
    method="GET"
  >
    <button class="btn btn-outline-primary" onclick="handleSubmit()">
      Submit All
    </button>
  </form>

  <!-- container end -->
</div>

<script>
  const user_module_ids = <%- JSON.stringify(user_modules.map(user_module => user_module._id)) %>;

  function handleSubmit() {
    if (confirm("Are you sure you wish to submit the test? Make sure you have completed all the modules.")) {

      // clear local timers
      for (const key of user_module_ids) {
        if (localStorage.getItem(key)) {
          localStorage.removeItem(key);
        }
      }

      document.myForm.submit();
    }
  }

  window.onload = () => {
    document.myForm.addEventListener('submit', (e) => {
      e.preventDefault();
    })
  }
</script>

<%- include('../partials/footer.ejs') %>
