<%- include('../partials/header.ejs', { loggedIn }) %>

<input type="text" id="user_module_id" value="<%= user_module._id %>" hidden />

<div class="container">
  <div class="display-4"><%= title %></div>
  <div class="lead"><%= description %></div>

  <% if(instructions) { %>
  <h2>Instructions</h2>
  <p><%= instructions %></p>
  <% } %>

  <div class="alert alert-success">
    Time spent:
    <span id="timer_display"></span>
  </div>

  <form
    action="<%= user_assessment.assessment_url %>/submit/"
    method="POST"
    name="moduleForm"
  >
    <input type="hidden" name="umid" value="<%= user_module._id %>" id="umid" />
    <input type="hidden" name="time_spent" value="0" id="time_spent" />

    <% questions.map((question, num) => { %>

    <div class="row shadow-sm rounded p-2 my-4 bg-light">
      <p><%= num+1 %>.</p>

      <% if(question.content) { %>

      <p><%= question.content %></p>

      <% } %> <% if(question.image) { %>

      <img
        src="<%= question.image %>"
        alt="Question Image"
        class="img-fluid img-thumbnail"
        height="64"
      />

      <% } %>

      <div class="container">
        <% question.choices.map(choice => { %>

        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            id="<%= question._id + '_' + choice._id %>"
            name="<%= question._id %>"
            value="<%= choice._id %>"
          />

          <% if(choice.text) { %>

          <label for="<%= choice._id %>"> <%= choice.text %> </label>

          <% } %> <% if(choice.image) { %>

          <img
            src="<%= choice.image %>"
            alt="Option Image"
            class="img-fluid"
            width="100"
          />

          <% } %>
        </div>

        <% }) %>
      </div>
    </div>

    <% }) %>

    <input type="submit" class="btn btn-primary" value="Save" />
    <a href="<%= user_assessment.assessment_url %>/" class="btn btn-secondary"
      >Back</a
    >
  </form>
</div>

<!-- Populate previous answers in the form -->
<% user_answers.map(({question_id, choice}) => { %>
<script>
  document.getElementById("<%= question_id + '_' + choice %>").checked = true;
</script>
<% }) %>

<script>
  const timeSpentInput = document.getElementById("time_spent");
  const timerDisplay = document.getElementById("timer_display");
  const umid = document.getElementById("umid").value;
  let prev_time, timer, accum;

  // update client
  function updateTimerDisplay(elapsedTimeMilli) {
    let seconds = Math.round((elapsedTimeMilli / 1000) % 60);
    let minutes = Math.round(elapsedTimeMilli / 1000 / 60);
    timerDisplay.innerText = `${minutes}m ${seconds}s`;
    timeSpentInput.value = elapsedTimeMilli;
  }

  // update timer
  function handleTimer() {
    const delta_time = Date.now() - prev_time;
    accum += delta_time;
    prev_time += delta_time;
    updateTimerDisplay(accum);
  }

  // start timer
  window.onload = function () {
    prev_time = Date.now();
    accum =
      Number(localStorage.getItem(umid)) ||
      Number("<%= user_module.time_spent %>") ||
      0;
    console.log("total elapsed time milli: ", accum);
    updateTimerDisplay(accum);
    timer = setInterval(handleTimer, 1000);
  };

  // end timer
  window.onunload = function () {
    if (timer) {
      clearInterval(timer);
    }
    localStorage.setItem(umid, accum);
    console.log(localStorage);
  };
</script>

<%- include('../partials/footer.ejs') %>
