<!--
    Locals: {
        loggedIn,
        title,
        description,
        assessment_id,
        questions,
        user_module
    }
-->

<%- include('../partials/header.ejs', { loggedIn }) %>

<div class="container">
  <div class="display-4"><%= title %></div>
  <div class="lead"><%= description %></div>

  <input type="text" id="module_id" value="<%= user_module._id %>" hidden />

  <div class="p-2 my-2">
    Time spent:
    <span id="timer_display"></span>
  </div>

  <form
    action="/forms/<%= assessment_id %>/submit/<%= user_module._id %>"
    method="POST"
    id="module_form"
    name="moduleForm"
  >
    <% questions.map((question, num) => { %>

    <div class="row p-2 my-2 bg-light">
      <p><%= num+1 %>.</p>

      <% if(question.content) { %>

      <p><%= question.content %></p>

      <% } %> <% if(question.image) { %>

      <img
        src="<%= question.image %>"
        alt=""
        class="img-fluid img-thumbnail"
        height="64"
      />

      <% } %>

      <div class="container">
        <% question.choices.map(choice => { %>

        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="<%= question._id %>"
            id="<%= choice._id %>"
            value="<%= choice._id %>"
          />

          <% if(choice.text) { %>

          <label for="<%= choice._id %>"> <%= choice.text %> </label>

          <% } %> <% if(choice.image) { %>

          <img src="<%= choice.image %>" alt="" class="img-fluid" width="100" />

          <% } %>
        </div>

        <% }) %>
      </div>
    </div>

    <% }) %>

    <!-- Time spent since page load -->
    <input type="number" value="0" id="time_spent" name="time_spent" hidden />

    <input type="submit" class="btn btn-primary" value="Submit" />

    <a href="/forms/<%= assessment_id %>" class="btn btn-secondary">Back</a>
  </form>
</div>

<% user_answers.map(id => { %>
<script>
  document.getElementById("<%= id %>").checked = true;
</script>
<% }) %>

<script src="/js/module.timer.js"></script>

<script>
  // function clearTimerCache() {
  //   localStorage.removeItem("<%= user_module._id %>");
  //   console.log("Removed Item", localStorage);
  //   return true;
  // }

  // document.moduleForm.onsubmit = clearTimerCache;
</script>

<%- include('../partials/footer.ejs') %>
