<!--
    Locals: {
        loggedIn,
        title,
        description,
        assessment_id,
        questions,
        user_module
    }
-->

<%- include('../partials/header.ejs', { loggedIn }) %>

<div class="container">

    <div class="display-4"><%= title %></div>

    <div class="lead"><%= description %></div>

    <!-- <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-text">Time spent</div>
                <input class="form-control" type="text" id="timer_display" readonly>
            </div>
        </div>
    </div> -->

    <div class="p-2 my-2">
        Time spent:
        <span id="timer_display"></span>
    </div>

    <form action="/forms/<%= assessment_id %>/submit/<%= user_module._id %>" method="POST" id="module_form">

        <% questions.map((question, num) => { %>

            <div class="row p-2 my-2 bg-light">

                <p><%= num+1 %>.</p>

                <% if(question.content) { %>

                    <p><%= question.content %></p>

                <% } %>
                
                <% if(question.image) { %>

                <img 
                        src="<%= question.image %>" 
                        alt="" 
                        class="img-fluid img-thumbnail" 
                        height="64"
                    /> 

                <% } %>

                <div class="container">

                    <% question.choices.map(choice => { %>

                            <div class="form-check">

                                <input 
                                    type="radio" 
                                    class="form-check-input" 
                                    name="<%= question._id %>"
                                    id="<%= choice._id %>" 
                                    value="<%= choice._id %>"
                                />

                                <% if(choice.text) { %>

                                    <label for="<%= choice._id %>">
                                        <%= choice.text %>    
                                    </label>

                                <% } %>

                                <% if(choice.image) { %>

                                    <img 
                                        src="<%= choice.image %>"
                                        alt="" 
                                        class="img-fluid" 
                                        width="100" 
                                    />

                                <% } %>

                            </div>

                    <% }) %>
                
                </div>

            </div>

        <% }) %>

        <!-- Time spent since page load -->
        <input 
            type="number"
            value="0"
            id="time_spent"
            name="time_spent"
            hidden
        />

        <input 
            type="submit" 
            class="btn btn-primary" 
            value="Submit" 
        />

        <a href="/forms/<%= assessment_id %>" class="btn btn-secondary">Back</a>

    </form>

</div>

<% user_answers.map(id => { %>
    <script>
        document.getElementById("<%= id %>").checked = true
    </script>
<% }) %>

<script>
    const element = document.getElementById('time_spent')
    const timerDisplay = document.getElementById('timer_display')

    let prev_time = null
    let timer = null
    let accum = 0

    function handleTimer() {
        const current_time = Date.now()
        const time_change = current_time - prev_time
        accum += time_change
        prev_time = current_time
        element.value = Math.floor(accum)

        let seconds = accum/1000
        let minutes = seconds/60
        seconds = seconds % 60

        minutes = Math.round(minutes)
        seconds = Math.round(seconds)

        minutes = String(minutes) 
        seconds = String(seconds)

        if(minutes.length === 1) {
            minutes = '0' + minutes
        }

        if(seconds.length === 1) {
            seconds = '0' + seconds
        }

        timerDisplay.innerText = `${minutes} min: ${seconds} sec`
    }

    // start timer
    window.onload = function() {
        prev_time = Date.now()
        element.value = Math.floor(prev_time)
        timer = setInterval(handleTimer, 1000)
    }

    // end timer
    window.onunload = function() {
        if(timer) {
            clearInterval(timer)
        }
    }
</script>

<%- include('../partials/footer.ejs') %>