<!--
    Locals: {
        user,
        title,
        description,
        assessment_id,
        user_modules
    }
-->

<%- include('../partials/header.ejs', { loggedIn }) %>

    <div class="container">
        <!-- container begin -->

        <div class="display-5 text-center my-2">
            <%= title %>
        </div>

        <div class="p">
            <%= description %>
        </div>

        <div class="row">

            <% user_modules.map(module=> { %>

                <div class="card col-md-6 col-lg-4 bg-light p-3 my-2">

                    <div class="card-body">
                        <div class="card-title">
                            <span class="display-6">
                                <%= module.module_name %>
                            </span>
                        </div>
                        <div class="card-text">

                            <div class="mb-2">
                                <span class="text-muted">
                                    Status:
                                </span>
                                <span class="fw-bold <%- module.status === 'Pending' ? 'text-danger' : 'text-primary' %>">
                                    <%= module.status %>
                                </span>
                            </div>

                            <div class="mb-2">
                                <span class="text-muted">
                                    Questions Attempted:
                                </span>
                                <span class="fw-bold">
                                    <%= module.no_attempted %> of <%= module.no_questions %>
                                </span>
                            </div>

                            <div class="mb-2">
                                <span class="text-muted">
                                    Time Spent:
                                </span>
                                <span class="fw-bold">
                                    <%= formatTimeSpent(module.time_spent) %>
                                </span>
                            </div>


                            <!-- actions -->
                            <a href="/forms/<%= assessment_id %>/questions/<%= module._id %>"
                                class="btn btn-dark">Open</a>

                        </div>
                    </div>
                </div>
                <% }) %>

                    <!-- end row -->
        </div>

        <!-- submit assessment -->
        <form action="/forms/<%= assessment_id %>/score" method="POST">

            <!-- assessment id field -->
            <input type="text" name="assessment_id" value="<%= assessment_id %>" hidden />

            <p class="form-text-muted">
                Please attempt all modules in this assessment before you submit.
            </p>

            <input type="submit" class="btn btn-primary" value="Submit All">

        </form>

        <!-- container end -->
    </div>
    <%- include('../partials/footer.ejs') %>