<%- include('../partials/header.ejs', { loggedIn }) %>

<div class="container">
  <div class="display-4">Creativity Motivation Assessment</div>
  <div class="p">
    <ul>
      <li>
        Given below are a number of situations, and 6 alternatives in each
        situation. How would you respond in each situation if you had to choose
        only from amongst the given alternatives.
      </li>
      <li>
        In each situation, you have 30 points to allocate between the six
        alternatives. Consider each alternative carefully, and bearing in mind
        the other given alternatives, give it the points that reflects its
        priority to you.
      </li>
      <li>
        You should allocate points to the alternatives subject to the following
        rules.
        <ol>
          <li>The points must sum to 30.</li>
          <li>
            The maximum points you can give an alternative is 15; the minimum is
            1.
          </li>
          <li>No decimals are permitted.</li>
        </ol>
      </li>
      <li>
        Please put down your points for each alternative in the space provided
        to the right of the alternative. After you have put down the points for
        all the alternatives in a situation, total them up and make sure that
        they sum to 30.
      </li>
      <li>
        For each question, first read through all the alternatives. Next,
        identify the ones that appeal to you the most, and give them the
        appropriate points. Finally, give appropriate points to the remaining
        alternatives.
      </li>
    </ul>
  </div>

  <form action="/creativity/CM/submit" method="POST">
    <% questions.map((question, num) => { %>

    <div class="shadow-sm rounded p-2 my-4 bg-light">
      <!-- Question begins -->
      <div class="p"><%= question.statement %>...</div>

      <!-- options begin -->
      <% question.options.map(option => { %>
      <div class="row my-2">
        <div class="col-md-10"><%= option.content %></div>
        <div class="col-md-2">
          <input
            type="number"
            name="<%= question._id %><%= option._id %>"
            class="form-control"
            min="1"
            max="15"
          />
        </div>
      </div>
      <% }) %>
      <!-- options end -->

      <button
        type="button"
        class="btn btn-outline-secondary my-2"
        onclick="console.log('Question: <%= question._id %>')"
      >
        Calculate Total
      </button>
      <div>Total: <span class="total">0</span></div>

      <!-- Question ends -->
    </div>

    <% }) %>

    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>
</div>

<script src="./creativity.motivation.js"></script>

<%- include('../partials/footer.ejs') %>
